/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/(ui)/tweet/[id]/page.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.tweet-page .back {
  font-size: 1rem;
  font-weight: bold;
}
.tweet-page .tweet {
  border-top: 2px solid var(--lighter-black-1);
}
.tweet-page .reply {
  border-top: 8px solid var(--lighter-black-1);
  border-bottom: 8px solid var(--lighter-black-1);
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/components/tweet/TweetItem.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.tweet-item {
  display: flex;
  padding: 1rem 1.75rem;
  gap: 1.5rem;
  border-bottom: 2px solid var(--lighter-black-1);
}
.tweet-item img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.tweet-item .content {
  flex: 1 1;
}
.tweet-item .content .user-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 0.75rem;
}
.tweet-item .content .user-info .name a {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--white);
}
.tweet-item .content .user-info .slug {
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--gray);
}
.tweet-item .content .text {
  padding: 1rem 0;
}
.tweet-item .content .img img {
  width: 100%;
  height: 100%;
  max-height: 18rem;
  border-radius: 1rem;
}
.tweet-item .content .btn-area {
  display: flex;
  margin-top: 1.5rem;
  color: var(--gray);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.tweet-item .content .btn-area svg {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.tweet-item .content .btn-area .field {
  flex: 1 1;
}
.tweet-item .content .btn-area .field .field-inline {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--gray);
  cursor: pointer;
}
.tweet-item .content .btn-area .field .field-inline.liked {
  color: #f87171;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/components/tweet/TweetPost.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.tweet-post {
  display: flex;
  padding: 1rem 1.75rem;
  gap: 1.5rem;
  border-bottom: 2px solid var(--lighter-black-1);
}
.tweet-post img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.tweet-post .content {
  flex: 1 1;
}
.tweet-post .content .type-content {
  position: relative;
  outline: none;
  word-break: break-all;
  font-size: 18px;
  min-height: 56px;
}
.tweet-post .content .type-content::before {
  content: attr(data-placeholder);
  position: absolute;
  left: 0;
  top: 0;
  cursor: text;
  color: var(--gray);
  pointer-events: none;
  font-size: 18px;
}
.tweet-post .content .type-content:not(:empty)::before {
  content: "";
}
.tweet-post .content .btn-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
.tweet-post .content .btn-area .upload svg {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.tweet-post .content .btn-area .send {
  width: 7.5rem;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/components/ui/Button.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.btn-default {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  color: var(--black);
  border-radius: 2.5rem;
  font-weight: 500;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.btn-default.lg {
  height: 3.5rem;
  font-size: 1.125rem;
}
.btn-default.md {
  height: 2.5rem;
  font-size: 1rem;
}
.btn-default.sm {
  height: 1.75rem;
  font-size: 0.75rem;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/components/ui/GeneralHeader.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.general-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1.5rem;
}
.general-header .general-header-name {
  font-weight: bold;
  font-size: 1rem;
}
.general-header .general-header-count {
  font-size: 0.75rem;
  color: var(--gray);
}
.general-header a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--gray);
  font-size: 3rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.general-header a svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--white);
}
.general-header .content {
  flex: 1 1;
}
